body{
  margin: 0px;
  background-color: black;
}

.doc{
  a{
    text-decoration: none;
    color: white;
    &:hover { 
      text-decoration:underline;
    }
  }

  h1{
    font-size: 1.5em;
    border-left: 6px solid #999;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    padding: 6px;
  }

  h2{
    font-size: 1.2em;
    border-bottom: 1px solid #999;
    padding: 3px;
  }

  table{
    border-collapse:collapse;

    td{
      border: 1px solid #999;
      padding: 6px;
    }
  }
}